*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;

}


body{
    font-family:'Helvetica neue', Arial, sans-serif;
    color:#E0E0E0;
    background-color:#1E1E2F;
}

h1 , h2, h3 ,h4, h5, h6{
   font-weight:600;
}


nav{
    padding:2rem 1rem;
    background-color:#2A2A3D;
}

nav a {
    background-color:#E0E0E0;
    text-decoration:none;
    transition:color 0.3s;
}

nav a:hover{
    color:#00B4D8;
}

nav ul li:hover> ul {
    /* Pour le sous-menu en survolant */
    display:block;
}


footer {
    text-align:center;
    padding:1rem;
    font-size:0.9rem;
    background-color:#2A2A3D;
    color:#E0E0E0;
}


a, button {
    transition:all 0.3s ease-in-out;
}

a:hover{
    transform:translateY(-2px) ;
    background-color:#00B4D8;
    color:#1E1E2F;
}

.card {
    background-color:#292940;
    border-radius:0.5rem;
    padding:1rem;
    box-shadow:0 4px 6px rgba(0,0,0,0.3);
}


